# Default ignored files
/../../practice-ageCalculator-Bri-H./.idea/shelf/
/../../practice-ageCalculator-Bri-H./.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../practice-ageCalculator-Bri-H./.idea/mavenHomeManager.xml
